
.header {
    width: 100%;
}

.footer {
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 12px;
    color: #999;
    background: #fff;
    width: 100%;
  }

.content {
    font-family: Georgia, sans-serif;
    margin-top: 2em;    
}